*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background-color: #1d1e22;
}

*::-webkit-scrollbar-thumb {
  background-color: #b3b3b3;
  border-radius: 50px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: gray;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #1d1e22;
  color: #f2f2f2;
}

a {
  text-decoration: none;
}
a, a:visited {
  color: inherit;
}

.header {
  height: 100px;
}

.container {
  min-height: calc(100vh - 100px - 60px);
}

.footer {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  padding-bottom: 10px;
}

@keyframes fade_in_show {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  1% {
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 8px #f2f2f2;
}

h2 {
  align-self: flex-start;
  margin-bottom: 1rem;
}

.container {
  padding: 2rem;
}

section + section {
  margin-top: 2rem;
}

.tags_container {
  margin-top: 20px;
  display: flex;
  width: 100%;
  gap: 5px;
}
.tags_container .tag {
  padding: 5px 10px;
  border-radius: 4px;
}
.tags_container .tag.tag_ingredient {
  background-color: #3282f7;
}
.tags_container .tag.tag_appliance {
  background-color: #68d9a4;
}
.tags_container .tag.tag_ustensile {
  background-color: #ed6454;
}
.tags_container .tag button {
  margin-left: 5px;
  border: none;
  background: #0000;
  color: #f2f2f2;
  font-weight: bold;
  cursor: pointer;
}

.search_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.search_container .search_input_wrapper {
  width: 100%;
  background-color: #f2f2f2;
  border-radius: 5px;
  overflow: hidden;
}
.search_container .search_input_wrapper .search_main_input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: none;
}
.search_container .search_input_wrapper .search_main_input:focus {
  background-color: #ff05;
}
.search_container .search_wrapper {
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
  width: 100%;
  gap: 1rem;
}
.search_container .search_wrapper .search_content {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: flex 0.3s ease-in-out;
  border-radius: 8px;
}
.search_container .search_wrapper .search_content.search_ingredients, .search_container .search_wrapper .search_content.search_ingredients .search_results {
  background-color: #3282f7;
}
.search_container .search_wrapper .search_content.search_appliances, .search_container .search_wrapper .search_content.search_appliances .search_results {
  background-color: #68d9a4;
}
.search_container .search_wrapper .search_content.search_ustensils, .search_container .search_wrapper .search_content.search_ustensils .search_results {
  background-color: #ed6454;
}
.search_container .search_wrapper .search_content.search_active {
  flex: 1;
  border-radius: 8px 8px 0 0;
}
.search_container .search_wrapper .search_content.search_active .btn_search {
  display: none;
  border-radius: 8px;
}
.search_container .search_wrapper .search_content.search_active .list_container {
  display: flex;
}
.search_container .search_wrapper .search_content .search_header {
  width: 100%;
  display: flex;
}
.search_container .search_wrapper .search_content .search_input {
  width: 130px;
  height: 50px;
  background-color: inherit;
  color: #f2f2f2;
  border: none;
  font-size: 15px;
  border-radius: 5px;
  font-family: "DM Sans";
  padding-left: 20px;
}
.search_container .search_wrapper .search_content .search_input::-webkit-input-placeholder {
  color: #f2f2f2;
}
.search_container .search_wrapper .search_content .search_input:focus {
  background-color: #0003;
}
.search_container .search_wrapper .search_content .list_container {
  display: none;
  width: 100%;
  flex-direction: column;
}
.search_container .search_wrapper .search_content .list_container .search_input {
  width: calc(100% - 40px);
  margin: 0;
}
.search_container .search_wrapper .search_content .list_container .btn_close {
  border: none;
  background: inherit;
  color: #f2f2f2;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 10px;
  cursor: pointer;
}
.search_container .search_wrapper .search_content .list_container .search_results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  list-style: none;
  padding: 10px;
  position: absolute;
  transform: translateY(50px);
  width: calc(100% - 4rem - 2rem - 260px);
  border-radius: 0 0 8px 8px;
}
.search_container .search_wrapper .search_content .list_container .search_results li {
  padding: 5px 10px;
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.search_container .search_wrapper .search_content .list_container .search_results li:hover {
  font-weight: bold;
  white-space: normal;
}

.recipes_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 1rem;
}
.recipes_container .recipe_wrapper {
  box-shadow: 0 0 2px #f2f2f2;
  padding: 1rem;
  border-radius: 5px;
}
.recipes_container .recipe_wrapper h2 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.recipes_container .recipe_wrapper .recipe_desc {
  text-align: justify;
}
.recipes_container .recipe_wrapper .recipe_content {
  margin: 1rem 0;
}
.recipes_container .recipe_wrapper .recipe_content header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.recipes_container .list_ingredients li {
  margin-left: 1rem;
}

input:focus {
  outline: none;
}
