.header {
    @include center(center);
    box-shadow: 0px 1px 8px $white;
}

h2 {
    align-self: flex-start;
    margin-bottom: 1rem;
}

.container {
    padding: 2rem;
}

section + section {
    margin-top: 2rem;
}

.tags_container {
    margin-top: 20px;
    display: flex;
    width: 100%;
    gap: 5px;

    .tag {
        padding: 5px 10px;
        border-radius: 4px;

        &.tag_ingredient {
            background-color: $c_ingredients;
        }
        &.tag_appliance {
            background-color: $c_appliances;
        }
        &.tag_ustensile {
            background-color: $c_ustensiles;
        }

        button {
            margin-left: 5px;
            border: none;
            background: #0000;
            color: $white;
            font-weight: bold;
            cursor: pointer;
        }
    }
}

.search_container {
    @include center;
    flex-direction: column;

    // border-radius: 5px;
    // Pour avoir les border-radius sur les enfants
    // overflow: hidden;

    // &, * {
    //     border-radius: 5px;
    // }

    .search_input_wrapper {
        width: 100%;
        background-color: $white;
        @include borderRadius(5px);

        .search_main_input {
            width: 100%;
            padding: 10px;
            font-size: 1rem;
            border: none;

            &:focus {
                background-color: #ff05;
            }
        }
    }

    .search_wrapper {
        display: flex;
        align-items: flex-start;
        margin-top: 20px;
        width: 100%;
        gap: 1rem;

        .search_content {
            @include center(center);
            transition: flex 0.3s ease-in-out;
            border-radius: 8px;

            &.search_ingredients,
            &.search_ingredients .search_results {
                background-color: $c_ingredients;
            }
            &.search_appliances,
            &.search_appliances .search_results {
                background-color: $c_appliances;
            }
            &.search_ustensils,
            &.search_ustensils .search_results {
                background-color: $c_ustensiles;
            }

            &.search_active {
                flex: 1;
                border-radius: 8px 8px 0 0;

                .btn_search {
                    display: none;
                    border-radius: 8px;
                }
                .list_container {
                    display: flex;
                }
            }

            .search_header {
                width: 100%;
                display: flex;
            }

            .search_input {
                width: 130px;
                height: 50px;
                background-color: inherit;
                color: $white;
                border: none;
                font-size: 15px;
                border-radius: 5px;
                // background-image: url(./images/arrowDown.svg);
                // background-repeat: no-repeat;
                // background-position: right 15% bottom 50%;
                font-family: 'DM Sans';
                padding-left: 20px;

                &::-webkit-input-placeholder {
                    color: $white;
                }

                &:focus {
                    background-color: #0003;
                }
            }

            .list_container {
                display: none;
                width: 100%;
                flex-direction: column;

                .search_input {
                    width: calc(100% - 40px);
                    margin: 0;
                }

                .btn_close {
                    border: none;
                    background: inherit;
                    color: $white;
                    font-size: 1.2rem;
                    font-weight: 700;
                    padding: 10px;
                    cursor: pointer;
                }

                .search_results {
                    @include gridColums(250px);
                    list-style: none;
                    padding: 10px;

                    position: absolute;
                    transform: translateY(50px);
                    // 4rem = margin, 2rem = gap, 260px = inputs size
                    width: calc((100% - 4rem - 2rem - 260px));
                    border-radius: 0 0 8px 8px;

                    li {
                        padding: 5px 10px;
                        cursor: pointer;
                        @include cutLine;

                        &:hover {
                            font-weight: bold;
                            white-space: normal;
                        }
                    }
                }
            }
        }
    }
}

.recipes_container {
    @include gridColums(400px);
    gap: 1rem;

    .recipe_wrapper {
        box-shadow: 0 0 2px $white;
        padding: 1rem;
        border-radius: 5px;

        h2 {
            @include cutLine;
        }

        .recipe_desc {
            text-align: justify;
        }

        .recipe_content {
            margin: 1rem 0;

            header {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }

    .list_ingredients {
        li {
            margin-left: 1rem;
        }
    }
}

input:focus {
    outline: none;
}
