@mixin center($justify-content: flex-start) {
    display: flex;
    align-items: center;
    justify-content: $justify-content;
}

@mixin circle($width) {
    width: $width * 1px;
    height: $width * 1px;
    border-radius: 50%;
    object-fit: cover;
}

@mixin scroll-divFix($top) {
    max-width: 360px;
    overflow-y: scroll;
    height: calc(100vh - #{$top});
    position: sticky;
    top: $top;
}

// Border radius pour container afin que les enfants en profitent aussi
@mixin borderRadius($size) {
    border-radius: #{$size};
    overflow: hidden;
}

// Coupe le texte pour éviter ton retour à la ligne
@mixin cutLine() {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

// Affichage en colonnes avec une taille minimum
@mixin gridColums($minWidth) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(#{$minWidth}, 1fr));
}
